
    <!-- El router-outlet aquí mostrará el contenido del componente hijo -->
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">Formulario de Idea de Negocio</h2>
    <p class="text-center text-gray-500 mb-6">Preguntas contestadas {{ contador }} de {{totalPasos}} </p>

    <div *ngIf="idRespuestaActual" class=" block text-left text-sm/6 bg-white border-2 border-gray-300 rounded-xl shadow-sm justify-between items-start md:items-center space-y-4 md:space-y-0 mb-4">
      <div class="block items-start space-x-4 px-6 text-sm/6">
        <div>
          <p class="text-sm font-bold text-gray-700 uppercase tracking-widest">Participante en edición</p>
          <h3 class="text-sm  font-black text-gray-500 leading-tight uppercase">
            {{ nombreParticipanteActual || '---' }}
          </h3>
          <p class="text-sm text-gray-500 font-medium">
            Doc: {{ documentoParticipanteActual }} | ID: {{ idParticipanteActual }}
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="idRespuestaActual" class="bg-emerald-50 border border-gray-300 p-4 rounded-lg mb-6 shadow-sm">
      <p class="text-gray-600 font-bold">Participante: <span class="font-normal text-gray-500">{{ nombreParticipanteActual }} (ID: {{ idParticipanteActual }})</span></p>
      <p class="text-gray-600 font-bold">ID Respuesta: <span class="font-normal text-gray-500">#{{ idRespuestaActual }}</span></p>
    </div>

    <form [formGroup]="ideaDeNegocioForm" class="space-y-6">
      <!-- Sección del formulario que cambia por cada paso -->
      <div *ngIf="pasoActual === 1">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
          <div>
            <label for="nombreEmprendimiento" class="block tSext-gray-700">Nombre del emprendimiento</label>
            <input type="text" id="nombreEmprendimiento" formControlName="nombreEmprendimiento" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="dptoUbicacion" class="block text-gray-700">Departamento</label>
            <select id="dptoUbicacion" formControlName="dptoUbicacion" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            <option class="text-gray-500" value="" disabled selected>Seleccione</option>
            <option *ngFor="let dptoUbicacion of departamentos" [ngValue]="dptoUbicacion">{{ dptoUbicacion.nombre_departamento }}</option>
            </select>
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
          <div>
            <label for="ciudadUbicacion" class="block text-gray-700">Ciudad</label>
            <select id="ciudadUbicacion" formControlName="ciudadUbicacion" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            <option class="text-gray-500" value="" disabled selected>Seleccione</option>
            <option *ngFor="let ciudadUbicacion of ciudades" [ngValue]="ciudadUbicacion">{{ ciudadUbicacion.nombre_municipio }}</option>
            </select>
          </div>
          <div>
            <label for="localidadUbicacion" class="block text-gray-700">Localidad</label>
              <div *ngIf="ideaDeNegocioForm.get('ciudadUbicacion')?.value?.nombre_municipio !== 'BOGOTA'"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 bg-gray-100 text-gray-700">
                {{ ideaDeNegocioForm.get('localidadUbicacion')?.value || 'N/A' }}
              </div>
            <select *ngIf="ideaDeNegocioForm.get('ciudadUbicacion')?.value?.nombre_municipio === 'BOGOTA'" id="localidadUbicacion" formControlName="localidadUbicacion" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              <option class="text-gray-500" value="" disabled selected>Localidad</option>
              <option *ngFor="let localidadUbicacion of localidades" [value]="localidadUbicacion">{{ localidadUbicacion }}</option>
            </select>
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
          <div>
            <label for="ubicacionNegocio" class="block text-gray-700">¿Dónde se ubicará su negocio?</label>
            <input type="text" id="ubicacionNegocio" formControlName="ubicacionNegocio" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="sectorEmpresarial" class="block text-gray-700">Sector empresarial</label>
              <select id="sectorEmpresarial" formControlName="sectorEmpresarial" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              <option class="text-gray-500" value="" disabled selected>Seleccione</option>
              <option *ngFor="let tipo of sectorEmpresarial" [value]="tipo">{{ tipo }}</option>
              </select>
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
          <div>
            <label for="infoEmprendimiento" class="block text-gray-700">¿Cómo se imagina su emprendimiento?</label>
            <input type="text" id="infoEmprendimiento" formControlName="infoEmprendimiento" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="ideaNegocio" class="block text-gray-700">¿Cómo surgió la idea de negocio?</label>
            <input type="text" id="ideaNegocio" formControlName="ideaNegocio" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
          <div>
            <label for="cualesClientes" class="block text-gray-700">¿Quiénes serán sus clientes?</label>
            <input type="text" id="cualesClientes" formControlName="cualesClientes" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="necesidad" class="block text-gray-700">¿Qué necesidad desea satisfacer?</label>
            <input type="text" id="necesidad" formControlName="necesidad" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
        </div>
      </div>

      <div *ngIf="pasoActual === 2">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="listadoProductoServicio" class="block text-gray-700">¿Qué productos o servicios va a ofrecer?</label>
              <input type="text" id="listadoProductoServicio" formControlName="listadoProductoServicio" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
            <div>
              <label for="productoAgropecuario" class="block text-gray-700">¿Su producto o servicio es agropecuario?</label>
               <select id="productoAgropecuario" formControlName="productoAgropecuario" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
                <option class="text-gray-500" value="" disabled selected>Seleccione</option>
                <option *ngFor="let productoAgropecuario of opciones" [value]="productoAgropecuario">{{ productoAgropecuario }}</option>
               </select>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="colaboradores" class="block text-gray-700">¿Necesita colaboradores para poner en marcha su emprendimiento?</label>
              <select id="colaboradores" formControlName="colaboradores" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
                <option class="text-gray-500" value="" disabled selected>Seleccione</option>
                <option *ngFor="let colaboradores of opciones" [value]="colaboradores">{{ colaboradores }}</option>
              </select>
            </div>
            <div>
              <label for="quienes" class="block text-gray-700">¿Quiénes?</label>
              <input type="text" id="quienes" formControlName="quienes" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
        </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="tiempoMarchaEmprendimiento" class="block text-gray-700">¿Cuánto tiempo (meses) lleva en marcha su emprendimiento?</label>
              <input type="number" id="tiempoMarchaEmprendimiento" formControlName="tiempoMarchaEmprendimiento" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
            <div>
              <label for="tiempoDedicaEmprendimiento" class="block text-gray-700">¿Cuánto tiempo le va a dedicar a su emprendimiento?</label>
                 <select id="tiempoDedicaEmprendimiento" formControlName="tiempoDedicaEmprendimiento" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
                  <option class="text-gray-500" value="" disabled selected>Seleccione</option>
                  <option *ngFor="let tipo of tiempoDedicaEmprendimiento" [value]="tipo">{{ tipo }}</option>
                </select>
            </div>
        </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="tiempoFormacionEmprendimiento" class="block text-gray-700">¿Cuánto tiempo le va a dedicar a la formación de su emprendimiento semanalmente?</label>
              <select id="tiempoFormacionEmprendimiento" formControlName="tiempoFormacionEmprendimiento" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
                <option class="text-gray-500" value="" disabled selected>Seleccione</option>
                <option *ngFor="let tipo of tiempoFormacionEmprendimiento" [value]="tipo">{{ tipo }}</option>
              </select>
            </div>
            <div>
              <label for="conocimientoEmprendimiento" class="block text-gray-700">¿Tiene conocimientos previos sobre el tema de su emprendimiento?</label>
              <select id="conocimientoEmprendimiento" formControlName="conocimientoEmprendimiento" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
                <option class="text-gray-500" value="" disabled selected>Seleccione</option>
                <option *ngFor="let conocimientoEmprendimiento of opciones" [value]="conocimientoEmprendimiento">{{ conocimientoEmprendimiento }}</option>
              </select>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="experienciaEmprendimiento" class="block text-gray-700">¿Tiene experiencia en este tipo de emprendimiento?</label>
              <select id="experienciaEmprendimiento" formControlName="experienciaEmprendimiento" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
                <option class="text-gray-500" value="" disabled selected>Seleccione</option>
                <option *ngFor="let experienciaEmprendimiento of opciones" [value]="experienciaEmprendimiento">{{ experienciaEmprendimiento }}</option>
              </select>
            </div>
            <div>
              <label for="razonEmprendimiento" class="block text-gray-700">¿Por qué no había empezado antes su emprendimiento?</label>
              <input type="text" id="razonEmprendimiento" formControlName="razonEmprendimiento" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
        </div>

      </div>
      <div *ngIf="pasoActual === 3">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="listadoProductos" class="block text-gray-700">Listado de productos</label>
              <input type="text" id="listadoProductos" formControlName="listadoProductos" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
            <div>
              <label for="cuantoNecesitaInversion" class="block text-gray-700">¿Cuánto dinero de inversión necesita para la compra de activos?</label>
              <input type="text" id="cuantoNecesitaInversion" formControlName="cuantoNecesitaInversion" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="cuantoNecesitaCapital" class="block text-gray-700">¿Cuánto dinero de inversión necesita para el capital de trabajo?</label>
              <input type="text" id="cuantoNecesitaCapital" formControlName="cuantoNecesitaCapital" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
            <div>
              <label for="totalInversion" class="block text-gray-700">Total de inversión necesaria</label>
                          <input
                type="text"
                id="totalInversion"
                formControlName="totalInversion"
                readonly
                class="mt-1 block w-full rounded-md shadow-sm p-2
                       bg-gray-100 border-gray-400
                       text-gray-700 cursor-default"
                placeholder="Calculado automáticamente">
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="porcentajeInversionActual" class="block text-gray-700">¿Con que porcentaje (%) de inversión cuenta actualmente?</label>
              <input type="text" id="porcentajeInversionActual" formControlName="porcentajeInversionActual" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
            <div>
              <label for="ventasPrimerMes" class="block text-gray-700">¿Cuánto espera vender el primer mes?</label>
              <input type="text" id="ventasPrimerMes" formControlName="ventasPrimerMes" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="ventasPrimerAno" class="block text-gray-700">¿Cuánto espera vender en el primer año?</label>
              <input type="text" id="ventasPrimerAno" formControlName="ventasPrimerAno" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
            <div>
              <label for="perteneceA" class="block text-gray-700">¿Pertenece usted a una asociación, cooperativa, etc.?</label>
              <select id="perteneceA" formControlName="perteneceA" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
                <option class="text-gray-500" value="" disabled selected>Seleccione</option>
                <option *ngFor="let perteneceA of opciones" [value]="perteneceA">{{ perteneceA }}</option>
              </select>
            </div>
        </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="perteneceACual" class="block text-gray-700">¿Cuál?</label>
              <input type="text" id="perteneceACual" formControlName="perteneceACual" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>

        </div>
      </div>


      <div class="flex justify-between items-center mt-8">
        <button type="button" [style.visibility]="pasoActual > 1 ? 'visible' : 'hidden'" (click)="atras()" class="px-6 py-2 bg-green-600 text-white rounded-md hover:bg-green-800 transition-colors duration-200">
          Atrás
        </button>
        <button type="button" [style.visibility]="pasoActual === paginas ? 'visible' : 'hidden'"(click)="guardarProgreso()" class="px-6 py-2 bg-green-600 text-white rounded-md hover:bg-green-800 transition-colors duration-200">
          Guardar progreso
        </button>
        <button type="button" [style.visibility]="pasoActual < paginas ? 'visible' : 'hidden'" (click)="siguiente()" class="px-6 py-2 bg-green-600 text-white rounded-md hover:bg-green-800 transition-colors duration-200 ">
          Siguiente
        </button>
      </div>
    </form>


