<div class="p-8 bg-gray-100 min-h-screen">
  <div class="flex justify-start items-center space-x-4 mb-6">
    <a routerLink="../caracterizacion/caracterizacion-basica" routerLinkActive="bg-green-600 text-white shadow-md"
     class="text-gray-600 px-6 py-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
      Caracterización
    </a>
    <a routerLink="../caracterizacion/diagnostico" routerLinkActive="bg-green-600 text-white shadow-md"
     class="text-gray-600 px-6 py-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
    Diagnóstico
  </a>

  <a routerLink="../caracterizacion/caracterizacion-ampliada" routerLinkActive="bg-green-600 text-white shadow-md"
     class="text-gray-600 px-6 py-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
    Caract. ampliada
  </a>

  <a routerLink="/modulos/monitoreos" routerLinkActive="bg-green-600 text-white shadow-md"
     class="text-gray-600 px-6 py-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
    Monitoreo
  </a>

  <a routerLink="/modulos/plan-formacion" routerLinkActive="bg-green-600 text-white shadow-md"
     class="text-gray-600 px-6 py-2 rounded-lg hover:bg-gray-200 transition-colors duration-200">
    Plan de formación
  </a>
  </div>

  <div class="bg-white rounded-lg shadow-md p-8 max-w-20 mx-auto">

    <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">Monitoreo</h2>
    <p class="text-center text-gray-500 mb-6">Preguntas respondidas</p>
    <p class="text-center text-gray-500 mb-8">
      Paso {{ pasoActual }} de {{preguntasPorPaso}}. Por favor, responde a todas las preguntas de esta sección.
    </p>
    <form [formGroup]="monitoreoGeneralForm" class="space-y-3">
      <div *ngIf="pasoActual === 1">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="grupoParticipante" class="block text-gray-700">Grupo de participantes</label>
              <input type="text" id="grupoParticipante" formControlName="grupoParticipante" placeholder="" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
            <div>
              <label for="estadoParticipante" class="block text-gray-700">Estado actual del participante</label>
              <input type="text" id="estadoParticipante" formControlName="estadoParticipante" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">
            <div>
              <label for="perteneceAsociacion" class="block text-gray-700">¿Pertenece a alguna asociación?</label>
              <input type="text" id="perteneceAsociacion" formControlName="perteneceAsociacion"  placeholder="" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
            <div>
              <label for="nombreAsociacion" class="block text-gray-700">Nombre de la asociación</label>
              <input type="text" id="nombreAsociacion" formControlName="nombreAsociacion"  placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
          </div>

        <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mb-4">
          <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
            <div>
              <label for="codigoCiiu" class="block text-gray-700">Código CIIU</label>
              <select id="codigoCiiu" formControlName="codigoCiiu" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
                <option class="text-gray-500" value="" disabled selected>Seleccione</option>
                <option *ngFor="let tipo of codigoCiiu" [value]="tipo">{{ tipo }}</option>
              </select>
            </div>
            <div>
              <label for="asociacionMujeres" class="block text-gray-700">¿Es una asociación de mujeres?</label>
              <input type="text" id="asociacionMujeres" formControlName="asociacionMujeres" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
          </div>
          <div>
            <label for="sectorEmpresarial" class="block text-gray-700">Sector empresarial</label>
            <input type="text" id="sectorEmpresarial" formControlName="sectorEmpresarial" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mb-4">
            <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
              <div>
                <label for="arriendoServicios" class="block text-gray-700">Arriendo y Servicios</label>
                <input type="text" id="arriendoServicios" formControlName="arriendoServicios" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
              <div>
                <label for="educacion" class="block text-gray-700">Educación</label>
                <input type="text" id="educacion" formControlName="educacion" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
            </div>
            <div>
              <label for="obligaciones" class="block text-gray-700">Obligaciones financieras</label>
              <input type="text" id="obligaciones" formControlName="obligaciones" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            </div>
          </div>

          <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mb-4">
            <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
              <div>
                <label for="gastosOcacionales" class="block text-gray-700">Gastos ocasionales</label>
                <input type="text" id="gastosOcacionales" formControlName="gastosOcacionales" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
              <div>
                <label for="gastosTotales" class="block text-gray-700">Total de gastos</label>
                <input type="text" id="gastosTotales" formControlName="gastosTotales" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mb-4">
            <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
              <div>
                <label for="trabajosIndependientes" class="block text-gray-700">Trabajos independientes</label>
                <input type="text" id="trabajosIndependientes" formControlName="trabajosIndependientes" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
              <div>
                <label for="emprendimientos" class="block text-gray-700">Emprendimientos</label>
                <input type="text" id="emprendimientos" formControlName="emprendimientos" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
              <div>
                <label for="otrosFamiliares" class="block text-gray-700">Otros familiares</label>
                <input type="text" id="otrosFamiliares" formControlName="otrosFamiliares" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
              <div>
                <label for="pension" class="block text-gray-700">Pensión</label>
                <input type="text" id="pension" formControlName="pension" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mb-4">
            <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
              <div>
                <label for="empleados" class="block text-gray-700">Empleados</label>
                <input type="text" id="empleados" formControlName="empleados" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
              <div>
                <label for="otrosIngresos" class="block text-gray-700">Otros ingresos</label>
                <input type="text" id="otrosIngresos" formControlName="otrosIngresos" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
              <div>
                <label for="otrosExplique" class="block text-gray-700">Otros (Explique cuáles)</label>
                <input type="text" id="otrosExplique" formControlName="otrosExplique" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
              <div>
                <label for="totalIngresos" class="block text-gray-700">Total de ingresos</label>
                <input type="text" id="totalIngresos" formControlName="totalIngresos" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
            </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mb-4">
            <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
              <div>
                <label for="totalIngresosDependiente" class="block text-gray-700">Total de personas que dependen de este ingreso</label>
                <input type="text" id="totalIngresosDependiente" formControlName="totalIngresosDependiente" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
              <div>
                <label for="distribucionIngresos" class="block text-gray-700">¿Quién define la distribución de ingresos?</label>
                <input type="text" id="distribucionIngresos" formControlName="distribucionIngresos" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
              </div>
            </div>
        </div>
      </div>
    </form>

    <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">Características del hogar </h2>
    <p class="text-center text-gray-500 mb-6">Preguntas de Sí o No</p>
    <p class="text-center text-gray-500 mb-8">
      Pregutas {{ pasoActual }} de {{ totalPasos }}. Por favor, responde a todas las preguntas de esta sección.
    </p>

    <form [formGroup]="monitoreoDiagnosticoForm" (ngSubmit)="guardarDiagnostico()" class="space-y-4">

    <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mb-4">
          <div>
            <label for="tipoVivienda" class="block text-gray-700">Tipo de vivienda</label>
            <input type="text" id="tipoVivienda" formControlName="tipoVivienda" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="materialVivienda" class="block text-gray-700">Material predominante de la vivienda</label>
            <input type="text" id="materialVivienda" formControlName="materialVivienda" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mb-4">
          <div>
            <label for="tipoVivienda" class="block text-gray-700">Número de dormitorios</label>
            <input type="text" id="tipoVivienda" formControlName="tipoVivienda" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="materialVivienda" class="block text-gray-700">Combustible de cocina</label>
            <input type="text" id="materialVivienda" formControlName="materialVivienda" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-2 gap-6 mb-4">
          <div>
            <label for="tipoVivienda" class="block text-gray-700">Estrato</label>
            <input type="text" id="tipoVivienda" formControlName="tipoVivienda" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="materialVivienda" class="block text-gray-700">Tiempo en la vivienda</label>
            <input type="text" id="materialVivienda" formControlName="materialVivienda" placeholder="" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
    </div>

      <!-- 💡 APLICACIÓN DEL GRID PARA LAS PREGUNTAS DINÁMICAS (2 COLUMNAS) -->
      <div *ngIf="preguntasHogar.length === 0" class="text-center py-10 text-gray-500">
        Cargando preguntas de características del hogar...
      </div>

      <!-- Iteración sobre las preguntas del paso actual -->
      <div *ngFor="let pregunta of preguntasPasoActualHogar; let i = index">
        <!-- Usamos GRID de 12 columnas: 8 para pregunta, 4 para opciones (en desktop) -->
        <div class="grid grid-cols-1 md:grid-cols-12 gap-4 py-3 px-4 rounded-lg transition-colors duration-150 border-b border-gray-100 items-start"
            [ngClass]="i % 2 === 0 ? 'bg-white' : 'bg-gray-50'">

          <!-- COLUMNA 1: Etiqueta de la pregunta (8/12) -->
          <div class="col-span-1 md:col-span-8">
            <label [for]="'pregunta_' + pregunta.id_campo" class="block text-gray-700 font-medium">
              <!-- Muestra el nombre_campo que viene del backend -->
              {{ pregunta.nombre_campo }}
            </label>
          </div>


          <div class="col-span-1 md:col-span-4 flex justify-start md:justify-end">
            <div class="flex items-center space-x-6 shrink-0">
              <!-- Iteramos sobre las opciones de la pregunta (generalmente ['Si', 'No']) -->
              <div *ngFor="let opcion of pregunta.opciones" class="flex items-center">
                <input
                  type="radio"
                  [id]="'pregunta_' + pregunta.id_campo + '_' + opcion"
                  [value]="opcion"
                  [formControlName]="'pregunta_' + pregunta.id_campo"
                  class="h-4 w-4 text-green-600 border-gray-300 focus:ring-green-500">
                <label [for]="'pregunta_' + pregunta.id_campo + '_' + opcion" class="ml-2 block text-sm text-gray-900">
                  {{ opcion }}
                </label>
              </div>
            </div>
          </div>
        </div>





        <!-- Mensaje de error (debajo de la pregunta) -->
        <div *ngIf="monitoreoDiagnosticoForm.get('pregunta_' + pregunta.id_campo)?.invalid && monitoreoDiagnosticoForm.get('pregunta_' + pregunta.id_campo)?.touched"
            class="text-red-500 text-xs mt-1 px-4">
          Esta pregunta es obligatoria.
        </div>
      </div>
    </form>


    <!-- Paso a hoja de 2 -->
    <div  *ngIf="pasoActual === 2">
      <form [formGroup]="monitoreoAccesoFinancieroForm" (ngSubmit)="guardarDiagnostico()" class="space-y-4">


      </form>
    </div>

      <div class="flex justify-between items-center mt-8">
        <button type="button"
            (click)="atras()"
            *ngIf="pasoActual > 1"
            class="px-6 py-2 bg-green-600 text-white rounded-md hover:bg-green-800 transition-colors duration-200">
          Atrás
        </button>
        <button type="submit"
        class="px-6 py-2 bg-green-600 text-white rounded-md hover:bg-green-800 transition-colors duration-200">
          Guardar progreso
        </button>

        <button type="button"
            (click)="siguiente()"
            *ngIf="pasoActual < totalPasos"
            class="px-6 py-2 bg-green-600 text-white rounded-md hover:bg-green-800 transition-colors duration-200">
          Siguiente
        </button>
      </div>
  </div>
</div>
