
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">Formulario de Diagnóstico</h2>
    <p class="text-center text-gray-500 mb-8">
      Preguntas de <strong>{{ pasoActual }}</strong> a la <strong>{{ pasoActual * 10 }}</strong> de <strong>{{ totalPasos * 10 }}</strong>. Por favor, responde a todas las preguntas de esta sección.
    </p>

  <form [formGroup]="diagnosticoForm" class="space-y-6">
    <div class="space-y-4" *ngFor="let pregunta of preguntasPasoActual">
      <div>
        <label class="block text-gray-700 font-medium">
          {{ pregunta.nombre_campo }}
        </label>
        <div class="mt-2 space-x-4">
          <ng-container *ngFor="let opcion of pregunta.opciones">
            <label class="inline-flex items-center">
              <input type="radio"
                     [formControlName]="'pregunta_' + pregunta.id_campo"
                     [value]="opcion"
                     class="form-radio text-green-500 rounded-full">
              <span class="ml-2 text-gray-700">{{ opcion }}</span>
            </label>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-center mt-8">
      <button type="button"
              (click)="atras()"
              [disabled]="pasoActual === 1"
              class="px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 transition-colors duration-200 disabled:opacity-50 disabled:cursor-not-allowed">
        Atrás
      </button>
      <button type="button"
              (click)="siguiente()"
              class="px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 transition-colors duration-200">
        {{ pasoActual === totalPasos ? 'Guardar Diagnóstico' : 'Siguiente' }}
      </button>
    </div>
  </form>

