
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">Formulario de registro</h2>
    <p class="text-center text-gray-500 mb-6">Preguntas 1 a 10 de 30</p>

    <form [formGroup]="caracterizacionForm" class="space-y-6">
    <div *ngIf="pasoActual === 1">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-30">
        <div>
          <label for="nombre" class="block text-gray-700"></label>
          <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
        <div>
          <label for="apellido" class="block text-gray-700"></label>
          <input type="text" id="apellido" formControlName="apellido" placeholder="Apellido" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-30">
        <div>
          <label for="email" class="block text-gray-700"></label>
          <input type="email" id="email" formControlName="email"  placeholder="Correo" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
        <div>
          <label for="proyecto" class="block text-gray-700"></label>
          <input type="text" id="proyecto" formControlName="proyecto"  placeholder="Proyecto" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
      </div>

    <div class="grid grid-cols-2 md:grid-cols-2 gap-30">
      <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
        <div>
          <label for="tipoDocumento" class="block text-gray-700">Tipo documento</label>
          <select id="tipoDocumento" formControlName="tipoDocumento" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            <option class="text-gray-500" value="" disabled selected>Seleccione</option>
            <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{ tipo }}</option>
          </select>
        </div>
        <div>
          <label for="noDocumento" class="block text-gray-700">No. documento</label>
          <input type="text" id="noDocumento" formControlName="noDocumento" placeholder="123456" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
      </div>
      <div>
        <label for="nacionalidad" class="block text-gray-700">Nacionalidad</label>
        <input type="text" id="nacionalidad" formControlName="nacionalidad" placeholder="País" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
      </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-2 gap-30">
        <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
          <div>
            <label for="expedidaEn" class="block text-gray-700">Expedida en.</label>
            <input type="text" id="expedidaEn" formControlName="expedidaEn" placeholder="Ciudad" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="fechaExpedicion" class="block text-gray-700">Fecha expedición.</label>
            <input type="text" id="fechaExpedicion" formControlName="fechaExpedicion" placeholder="dd/mm/aa" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
        </div>
        <div>
          <label for="fechaNacimiento" class="block text-gray-700">Fecha de nacimiento.</label>
          <input type="text" id="fechaNacimiento" formControlName="fechaNacimiento" placeholder="dd/mm/aa" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
      </div>

  </div>
  <div *ngIf="pasoActual === 2">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-30">
          <div>
            <label for="edad" class="block text-gray-700"></label>
            <input type="number" id="edad" formControlName="edad" placeholder="Edad" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
        <div>
          <label for="grupoParticipante" class="block text-gray-700"></label>
          <select id="grupoParticipante" formControlName="grupoParticipante" class="mt-1 block w-full text-gray-500 border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
            <option class="text-gray-500" value="" disabled selected>Grupo del participante</option>
            <option *ngFor="let tipo of grupoParticipante" [value]="tipo">{{ tipo }}</option>
          </select>
        </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-30">
          <div>
            <label for="paisResidencia" class="block text-gray-700"></label>
            <input type="text" id="paisResidencia" formControlName="paisResidencia" placeholder="País de residencia" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="departamentoResidencia" class="block text-gray-700"></label>
            <input type="text" id="departamentoResidencia" formControlName="departamentoResidencia" placeholder="Departamento de residencia" class="mt-1 text-gray-500 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-30">
        <div>
          <label for="municipioResidencia" class="block text-gray-700">Municipio de residencia</label>
          <input type="text" id="municipioResidencia" formControlName="municipioResidencia" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
        <div>
          <label for="municipioResidencia" class="block text-gray-700">Localidad</label>
          <input type="text" id="municipioResidencia" formControlName="municipioResidencia" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-30">
        <div>
          <label for="municipioResidencia" class="block text-gray-700">Entorno de residencia</label>
          <input type="text" id="municipioResidencia" formControlName="municipioResidencia" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
        <div>
          <label for="municipioResidencia" class="block text-gray-700">Dirección</label>
          <input type="text" id="municipioResidencia" formControlName="municipioResidencia" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-30">
        <div>
          <label for="municipioResidencia" class="block text-gray-700">Indicativo</label>
          <input type="text" id="municipioResidencia" formControlName="municipioResidencia" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
        <div>
          <label for="municipioResidencia" class="block text-gray-700">Numero celular</label>
          <input type="text" id="municipioResidencia" formControlName="municipioResidencia" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>
        </div>
    </div>

      <div *ngIf="pasoActual === 3">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-30">
          <div>
            <label for="edad" class="block text-gray-700">Sexo</label>
            <input type="number" id="edad" formControlName="edad" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="grupoParticipante" class="block text-gray-700">Género</label>
            <input type="text" id="grupoParticipante" formControlName="grupoParticipante" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-30">
          <div>
            <label for="paisResidencia" class="block text-gray-700">Etnia</label>
            <input type="text" id="paisResidencia" formControlName="paisResidencia" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
          <div>
            <label for="departamentoResidencia" class="block text-gray-700">Condición de discapacidad</label>
            <input type="text" id="departamentoResidencia" formControlName="departamentoResidencia" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-30">
        <div>
          <label for="municipioResidencia" class="block text-gray-700">Grupo o poblacional vulnerable</label>
          <input type="text" id="municipioResidencia" formControlName="municipioResidencia" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm p-2 focus:ring-green-500 focus:border-green-500">
        </div>

        </div>

    </div>

      <div class="flex justify-between items-center mt-8">
        <button type="button" (click)="atras()" class="px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 transition-colors duration-200">
          Atrás
        </button>
        <button type="button" (click)="guardarProgreso()" class="px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 transition-colors duration-200">
          Guardar progreso
        </button>
        <button type="button" (click)="siguiente()" class="px-6 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 transition-colors duration-200">
          Siguiente
        </button>
      </div>
    </form>

